.signUp {
  color: white;

  margin: 40px 20% 10px 20%;

  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.formContent {
  border: 2px solid white;
  padding: 5%;
  padding-right: 12%;
  padding-left: 12%;
}

.signupInput {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
}

label {
  margin-right: 10px;
}

#submitButton {
  margin-top: 40px;
}

.submitDiv {
  display: flex;
  justify-content: center;
}
