.filter-row {
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter-row .control {
  display: flex;
  align-items: center;
}

div .control div {
  margin-right: 10px;
}

.sortIcon {
  height: 28px;
  width: 28px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .filter-row {
  border-top: 1px solid grey;
  margin-top: 10px;
  color: #333;
}

.filterCol {
  display: flex;
  align-items: center;
  justify-content: end;
}
.sortIconCol {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
} */
