
.imdb-movie-charts {
  display: flex;
  justify-content: center;
  background-color: #cac9c5;
  color: #424242;
}

.article {
  max-width: 750px;
  background-color: #f8f8f8;
  padding: 25px;
}

.article h3 {
  font-size: 18px;
}

.article h1.header {
  margin-bottom: 2px;
}

div .byline {
  color: #666;
  font-size: 11px;
  margin: 3px 0 10px;
  font-family: Verdana, Arial, sans-serif;
}

.chart-head {
  color: #666;
  font-size: 14px;
}

td .titleColumn {
  font-size: 13px;
}

.titleColumn a {
  text-decoration: none;
}
