.imdb-header {
  text-align: center;
  padding: 10px;
  background-color: #121212;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

.logo {
  align-self: center;
}

#logo-img {
  height: 33px;
  cursor: pointer;
}

.title {
  align-self: center;
  color: white;

  width: 40%;
  font-weight: bold;
  font-size: x-large;
  cursor: pointer;
}

.headerButtons {
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  float: right;

  border: none;
  text-decoration: none;
  background-color: #121212;
  color: white;
  font-size: medium;
  border-radius: 5%;
  cursor: pointer;
}

.headerButtons:hover {
  background-color: grey;
}

/* .imdb-header {
  text-align: center;
  overflow: auto;
}
#logo {
  float: left;
  width: 33%;
}
#title {
  float: left;
  width: 30%;
  font-size: xx-large;
  color: white;
  margin: 15px;
  font-weight: bolder;
}

#button {
  float: right;
  width: 30%;
  height: 70%;
}

#imdb-logo {
  margin: 10px;
  height: 40px;
  float: left;
}

.header-buttons {
  margin: 10px;
  float: right;
  padding: 12px;
  font-weight: bolder;
  border-radius: 6px;
  height: 45px;
  background-color: black;
  color: white;
}

input[type="button"]:hover {
  background-color: rgb(48, 46, 46);
  cursor: pointer;
} */
