.login {
  color: white;
  margin: 40px 30% 10px 30%;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.login .loginformContent {
  border: 2px solid white;
  padding: 5%;
  padding-right: 12%;
  padding-left: 12%;
}

.inputfield {
  display: flex;
  justify-content: space-between;
}

label {
  margin-right: 10px;
}

#submitButton {
  margin-top: 40px;
}

.submitDiv {
  display: flex;
  justify-content: center;
}

/* react bootstrap form */

.login_form_container {
  width: 350px;
  height: auto;
  padding: 30px;
  border: 2px solid white;
}

.login_form {
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form_title {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
